@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;800&display=swap');

:root{
    --black: #222;
    --dark-purple: #7c3c8f;
    --purple: #a57db6;
    --dark-grey: #e0e0e0;
    --white: #f2f2f2;
    --light-grey: #f0f0f0;

    font-family: 'Asap', sans-serif;
    font-size: 18px;
    color: var(--black)
}



.button{
    border-radius: 8px;
}

.dark-purple{
    background-color: var(--dark-purple);
}

.purple{
    background-color: var(--purple);
}

.soft-grey{
    background-color: var(--light-grey);
}

.dark-grey{
    background-color: var(--dark-grey);
}

