.activityPage__container{
    padding:2%;
    display:grid;
    gap:15px;
    grid-template-areas: "aside main main";
}
.activityPage__aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.activityPage__form{
    border: 6px var(--black) solid;
    border-radius: 16px;
    background-color: var(--dark-grey);
    padding: 2%;
}

.activityPage__countryBox{
    border: 4px var(--black) solid;
    border-radius: 8px;
    padding:8px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
    margin-top: 6px;
}
.activityPage__countryList{
    display: flex;
    justify-content: space-between;
}

.activityPage__formSection{
    border:none;
    padding-left:0;
}

.activityPage__closeButton{
    border: 2px var(--black) solid;
    background-color: red;
    color:var(--white);
    padding: 2px 6px;
    border-radius: 6px;
    display: grid;
    place-content: center;
}

.activityPage__formButtons{
    display: flex;
    justify-content: space-evenly;
}
.activityPage__main{
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.activityBox{
    border: 4px var(--black) solid;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    padding: 8px;
}

.activityContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap:10px;
}

@media(max-width: 41em){
    option{
        width: 150px;
        word-break: break-all;
    }
    .activityPage__container{
        font-size: 0.8em;
        grid-template-areas: "aside" "main";
    }
}