.activityPage__container{
    padding:2%;
    display:grid;
    grid-template-areas: "aside main main";
}
.activityPage__aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.activityPage__form{
    border: 6px var(--black) solid;
    border-radius: 16px;
    background-color: var(--dark-grey);
    padding: 2%;
}

.activityPage__main{
    grid-area: main;
    width: 100%;
}