@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;800&display=swap');

:root{
    --black: #222;
    --dark-purple: #7c3c8f;
    --purple: #a57db6;
    --dark-grey: #e0e0e0;
    --white: #f2f2f2;
    --light-grey: #f0f0f0;

    font-family: 'Asap', sans-serif;
    font-size: 18px;
    color: var(--black);
    
}
body{
    padding:0;
    margin: 0;
}

.title-text{
    font-weight: 800;
    font-size: 2em;
}

.big-text{
    font-weight: 600;
    font-size: 1.5em;
}

.normal-text{
    font-weight: 400;
}

