.homePage__container{
    padding: 2%;
}

.homePage__board{
    border: 4px var(--black) solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.homePage__countries{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,40%));
    gap:minmax(4px,30px)
}

.homePage__cardImg{
    width: 100%;
}
