.navBar__Container{
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

.link_active{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

@media(max-width: 13em) {
    *{color: green}
}