  .star{
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #efde23;
  }
  .off {
    color: #ccc;
  }
  input[type=number]::-webkit-outer-spin-button, 
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button !important;
  }