.star{
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.on {
    color: #efde23;
}
.off {
    color: #ccc;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.form--error{
    color:red;
    font-size: 12px;
}